// Footer ==========================================================================================
footer
    .row
        .col-lg-12
            ul.list-unstyled
                li.pull-right
                    a(href="#top") 위로 이동
                li
                    a(a href="#") 커뮤니티 홈
                li
                    a(a href="#") RSS
                li
                    a(a href="#") 이용약관
                li
                    a(a href="#") 도움말
                li
                    a(a href="#") 회원탈퇴
            p © NamooSori 2014.